[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "~=9.0.2"
pytest-cov = "~=7.0.0"
pytest-env = "~=1.5.0"
ruff = "~=0.15.5"
vendorize = "~=0.3.0"

[packages]
aws-lambda-powertools = { version = "~=3.25.0", extras = ["all"] }
boto3 = "~=1.42.66"

[requires]
python_version = "3.13"
